.contract {
    margin-left: 30px;
    margin-top: 20px;
    background-color: #FDF8E5;
    width: 100%;
    height: 650px;
    border:1px solid #347ab6;
    border-radius: 5px;
}

.contract-header {
    height: 60px;
    background-color: #347ab6;
    margin-bottom: 10px;
    color:white;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items:center;
} 

.icon {
    display: flex;
    width: 110px;
    padding-top: 10px;
}

.iconImage {
    margin-top: 5px;
    margin-right: 20px;
}

.contract-body {
    padding-left: 15px;
    padding-right: 15px;
}

.adress{
    width: 100%;
    margin-bottom: 20px;
}

.contract-number {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contract-number > input {
    width: 400px;
}

.comments {
    width: 100%;
    margin-bottom: 20px;
}

.comments > input {
    width: 100%;
}

.start-end{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.next{
    color:white;
}

.save{
    color:white;
}