.user {
    width: 550px;
    height: 650px;
    background-color: #DEF0D8;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid #347ab6;
}
.user-header {
    height: 60px;
    display: flex;
    background-color: #347ab6;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
} 

.user-header > p {
    margin-left: 20px;
    color: white;
}

.user-body {
    padding-left: 15px;
    padding-right: 15px;
}
.user-body > input {
    width: 100%;
}
.user-body > textarea {
    width: 100%;
}