.contractIPoE {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.vlan-body {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
    
}

.mac-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
