.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.cardBody.card {
    height: 420px;
    margin-top: 20px;
    border: 1px solid;
    margin-right: 20px;
}
.card-text{
    height: 70px;
}