.ticket{
    background-color: #D9EDF6;
    height: 400px;
    border-radius: 5px;
    border:1px solid #347ab6;
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #347ab6;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    margin-bottom: 25px;
}

.next {
    margin-right: 10px;
}
.save {
    margin-right: 10px;
}

.header-info {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.first-groupe {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.second-groupe{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.text {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

#Date{
    width: 300px;
}