.contractPPPoE {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.login-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.mail-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
